#topBar {
    -fx-background-color: #00B7FF;
}

#headerLabel {
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

#back_btn {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#back_btn:hover {
    -fx-background-color: #dcdcdc;
}

#confirm_btn {
    -fx-background-color: #00B7FF;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#nameField {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
}