#anchorPane {
    -fx-background-color: #ffffff;
}

#bottomBar {
    -fx-background-color: #252525;
}

#create_btn {
    -fx-background-color: #00B7FF;
    -fx-cursor: hand;
}

#browse_btn {
    -fx-background-color: #37DF85;
    -fx-cursor: hand;
}

#quit_btn {
    -fx-background-color: #FE5B5B;
    -fx-cursor: hand;
}

#create_btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#browse_btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#quit_btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}